PORT=9600
SERVERTIMEOUT = 5
KAFKAURL="localhost:9092"
KAFKASERVER="bootstrap.servers"
KAFKATOPIC="jobs-1"
KAFKAGROUPID="group-id-1"
KAFKARESETPOLICY="earliest"
MONGODBURL="localhost:27017"
MONGODB="kafkamongo"
MONGOCOLLECTION="jobs"
MONGOTIMEOUT=5
BROKER="sarama"
